absl-py==0.13.0
astor==0.8.1
cached-property==1.5.2
certifi==2021.5.30
dataclasses==0.8
gast==0.5.1
grpcio==1.39.0
h5py==3.1.0
importlib-metadata==4.6.3
joblib==1.0.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
numpy==1.19.5
opencv-contrib-python==3.4.4.19
protobuf==3.17.3
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
threadpoolctl==2.2.0
typing-extensions==3.10.0.0
Werkzeug==2.0.1
wincertstore==0.2
zipp==3.5.0
